
@{
    ViewData["Title"] = "Account Info";
}

<h2>Account Info</h2>
<hr />

<ul>
    <li>
        @Html.ActionLink("Balance", "Index", "Balance")
    </li>
    <li>
        @Html.ActionLink("Additional Info", "AdditionalInfo")
    </li>
</ul>
