
@{
    ViewData["Title"] = "Account";
}

<h2>Account actions:</h2>
<hr />

<ul>
    <li>
        @Html.ActionLink("Edit Account","Edit")
    </li>
    <li>
        @Html.ActionLink("View details","Details")        
    </li>    
</ul>


